<div id="overview" class="left-menu">
  Our principals have deep experience in real-time 3D graphics, video games, interactive web development and virtual reality. 

  Awesome visual design skills, great programming chops, and an uncanny sense of what the client needs.

  <div class="left-menu-item" id="tony" ng-click="display($event)">Tony Parisi</div>
  <div class="left-menu-item" id="tc" ng-click="display($event)">TC Chang</div>
  <div class="left-menu-item" id="eric" ng-click="display($event)">Eric Levin</div>

</div>