$left-menu-color: #eaf9e2;
$canvas-background-color: #9cafb3;
$logo-color: #f9a618;
$header-tabs-color: #bd1127;
$underline-color: #141615;

$animation-time: 1.5s;

@import 'navbar';
@import 'custom';
@import 'animations';